.main {
  max-width: 840px;
  margin: 0 auto;
  padding: 6rem 1.25rem 6rem;
}

.section {
  scroll-margin-top: 2rem;
  margin-bottom: 7rem;
}

.section:last-child {
  margin-bottom: 4rem;
}

@media (min-width: 640px) {
  .main {
    padding: 7rem 2.5rem 6rem;
  }
}
